$font-1: "Roboto", sans-serif;

$color-1: #091F43;
$color-2: #D1515A;
$grey : grey;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style-type: none;
 outline: none;
 border: none;
 text-decoration: none;

 &::selection {
   background: $color-1;
 }
}
a,
a:visited {
 color: $color-2;
}

body {
 font-family: 'Roboto', sans-serif
}
.error {
display: flex;
justify-content: center;
align-items: center;
 color: red;
 font-weight: bold;
 height: 26px;
}
.success {
 color: green;
 font-weight: bold;
}

textarea {
  resize: none;
}
