.containerparam {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 80vh;
}

.paramspace {
 border-radius: 15px;
 display: flex;
 flex-direction: column;
 background-color: $color-1;
 width: 400px;
 height: 400px;
 p {
  color: $white;
 }
}

.modify {
 display: flex;
 margin: 8px;
 
 
 input {
  margin-left: 8px;
  width: 100px;
 }
}

.modifybutton {

 background-color: $white;
 width: fit-content;
 padding: 4px;
 height: 20px;
}