.commentspace {
  display: flex;
  flex-direction: column;

  button {
    color: black;
    background-color: black;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  .avatar {
    margin-right: 8px;
  }

  .comment {
    display: flex;
    flex-direction: column;
    margin: 4px;
    border-radius: 15px;
    padding: 8px;
    background-color: $lightgrey;
    width: fit-content;
  }

  .commentuser {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;

  }

  .user__info__comment {
    display: flex;
  }

  .icon__delete__comment {
    cursor: pointer;
    color: $color-1;
    margin: 8px;
  }

  .commentdate {
    font-size: 12px;
  }

  .iconcomment {
    margin: 8px;
    color: $color-1;
    cursor: pointer;
  }
}



.createcomment {
  padding: 8px;
  margin: 4px;
  background-color: $lightgrey;
  border-radius: 15px;

  textarea {
    border-radius: 15px;
    width: 80%;
    padding: 8px;
  }
}
